/* Apply styles to the button group to center the buttons */
.MuiButtonGroup-root {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .chart-button {
    border: 2px solid #4caf50 !important; /* Green border */
    background-color: #4caf50 !important; 
    color: white !important;
    transition: all 0.3s ease !important;
  }
  
  /* Hover effect for the buttons (yellow) */
  .chart-button:hover {
    background-color: #CDEACE !important;
    color: black !important;
  }
  
  /* Active button style (purple) */
  .chart-button:active {
    background-color: #CDEACE !important;
    color: white !important;
  }
  /* Active (selected) button style */
.chart-button.active-chart {
    background-color: #CDEACE !important;
    color: #4caf50 !important;

  }
  .analysis-container {
    display: flex;
    justify-content: center;  /* Centers content horizontally */
    align-items: center;      /* Centers content vertically */
    height: 100vh;            /* Full viewport height */
    margin: 0;
}
.title{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.button-group-container {
    display: flex;
    justify-content: center;  /* Centers the button group horizontally */
    margin: 20px 0;           /* Optional: Adds space around the button group */
}
