/* ExpenseForm.css */

.expense-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.expense-form input,
.expense-form select,
.expense-form textarea,
.expense-form button {
    margin: 5px 0;
    padding: 8px;
}

.expense-form input,
.expense-form select,
.expense-form textarea {
    background-color: #E4F2E4; /* Updated color */
}

.expense-form button {
    background-color: #04D99D; /* Updated color to match navbar */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.expense-form button:hover {
    background-color: #028c6a; /* Slightly darker shade for hover effect */
}
