/* IncomeList.css */

.incomes-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #E4F2E4; /* Updated color for the entire table */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #CDEACE; /* Slightly darker shade for the table header */
}

tr:nth-child(even) {
    background-color: #E4F2E4; /* Ensure alternate rows match the table background */
}

tr:hover {
    background-color: #CDEACE; /* Slightly darker shade for hover effect */
}
